<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    {% block posthead %} {% endblock %}
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
  </head>
  <body class="block has-navbar-fixed-top">
    {% include 'header.html' %}
    {% block content %} {% endblock %}
  </body>
  {% include 'footer.html' %}
</html>
