{% extends 'base.html' %} {% block posthead %}
<title>splat.top</title>
{% endblock %} {% block content %}
<div class="content leaderboard">
  <div class="container">
    <h1>Top 500 {{ region }} - {{ mode }}</h1>
    <div class="tabs is-toggle is-fullwidth">
      <ul>
        {% for selected_mode in modes %}
        <li class="{{ 'is-active' if selected_mode == mode else ''}}">
          <a href="{{ url_for('front_page.leaderboard', mode=selected_mode, region=region) }}">
            {{ selected_mode }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>

    <div class="tabs is-toggle">
      <ul>
        {% for selected_region in regions %}
        <li class="{{ 'is-active' if region == selected_region else ''}}">
          <a href="{{ url_for('front_page.leaderboard', mode=mode, region=selected_region) }}">
            {{ selected_region }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="container scrollable-table">
      <table class="table is-bordered is-striped is-hoverable">
        <thead>
          <tr>
            <th class="leaderboard-cell">Name</th>
            <th class="leaderboard-cell">X Power</th>
            <th class="leaderboard-cell">Rank</th>
            <th class="leaderboard-cell">Weapon</th>
            <th class="leaderboard-cell">Details</th>
          </tr>
        </thead>
        <tbody>
          {% for player in players %}
          <tr>
            <td class="leaderboard-cell">{{ player.name }}#{{ player.name_id }}</td>
            <td class="leaderboard-cell">{{ player.x_power }}</td>
            <td class="leaderboard-cell">{{ player.rank }}</td>
            <td class="leaderboard-cell">{{ player.weapon }}</td>
            <td class="leaderboard-cell">
              <a
                >View Details</a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
