{% extends 'base.html' %} {% block posthead %}
<title> splat.top: Player Not Found </title>
{% endblock %}
{% block content %}
<div class="content">
    <div class = "container">
        <h1>Player Not Found</h1>
        <p><strong>Sorry!</strong> We don't have a record of that player in our database.
            Backfilling Top 500 snapshots before <strong>August 16, 2023</strong> is a work in progress,
            so check back later if you think this is a mistake.</p>
    </div>
</div>
{% endblock %}