{% extends "base.html" %}

{% block posthead %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
<script>
    let timeout = null;
    let currentPage = 1;
    const perPage = 50;
    let lastQuery = '';
    
    function fetchResults() {
        let query = document.getElementById('searchInput').value.toLowerCase();
        if (lastQuery !== query) {
            currentPage = 1;
            lastQuery = query;
            $('#resultTable').DataTable().clear().draw();
        }
    
        if (query.length >= 3) {
            fetch(`/search_players?q=${query}&page=${currentPage}&per_page=${perPage}`)
                .then(response => response.json())
                .then(data => {
                    let table = $('#resultTable').DataTable();
    
                    data.forEach(player => {
                        let a = document.createElement('a');
                        a.href = `/player/${player.id}`;
                        a.textContent = `${player.name}#${player.name_id}`;
    
                        table.row.add([
                            a.outerHTML,
                            player.weapon,
                            player.x_power,
                            player.mode,
                            player.rank,
                            player.matched_alias
                        ]).draw();
                    });
    
                    currentPage++;
                });
        }
    }
    
    function initSearch() {
        $('#resultTable').DataTable({
            paging: false,
            searching: false,
            info: false
        });
    
        document.getElementById('searchInput').addEventListener('keyup', function() {
            clearTimeout(timeout);
            timeout = setTimeout(fetchResults, 300);
        });
    
        // Load more results when user scrolls to the bottom
        window.addEventListener('scroll', function() {
            if (window.innerHeight + window.scrollY >= document.body.offsetHeight) {
                fetchResults();
            }
        });
    }
    
    $(document).ready(function() {
        initSearch();
    });
</script>
{% endblock %}

{% block content %}
<div style="text-align: center;">
    <input type="text" id="searchInput" placeholder="Search for players..." />
    <table id="resultTable" class="display">
      <thead>
        <tr>
          <th>Name</th>
          <th>Weapon</th>
          <th>X Power</th>
          <th>Mode</th>
          <th>Rank</th>
          <th>Matched Alias</th>
        </tr>
      </thead>
      <tbody id="resultList">
      </tbody>
    </table>
  </div>
  
{% endblock %}
