apiVersion: apps/v1
kind: Deployment
metadata:
  name: react-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: react-app
  template:
    metadata:
      labels:
        app: react-app
    spec:
      imagePullSecrets:
        - name: regcred
      containers:
        - name: react-app
          image: registry.digitalocean.com/sendouq/react:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 80
          env:
            - name: ENV
              value: "production"
            - name: REACT_APP_SHOWCASE_STABLE_LEADERBOARD
              value: "false"
