// Define functions and variables
$accent-color: #ad5ad7;
$accent-dark: darken($accent-color, 10%);
$accent-darker: darken($accent-color, 20%);
$accent-light: lighten($accent-color, 10%);
$accent-lighter: lighten($accent-color, 20%);
$white-color: #d6d6d6;
$whiter-color: lighten($white-color, 10%);
$black-color: #363636;

$scrollbar-color: $accent-darker;
$scrollbar-hover-color: $accent-dark;

// Import Bulma's initial variables
@import "../bulma/sass/utilities/initial-variables";

// Override variables
$primary: $accent-color;
$body-background-color: $black-color;
$body-color: $white-color;
$link-color: $white-color;
$link-hover-color: lighten($link-color, 10%);
$content-heading-color: $body-color;

$navbar-background-color: #272727;
$navbar-item-color: $white-color;
$navbar-item-hover-background-color: lighten($navbar-background-color, 10%);
$navbar-item-hover-color: $navbar-item-color;
$footer-background-color: $body-background-color;
$footer-color: $body-color;

$card-background-color: lighten($body-background-color, 10%);
$card-color: $body-color;
$card-header-background-color: $navbar-background-color;
$card-header-color: $navbar-item-color;

$title-color: $body-color;
$subtitle-color: $body-color;
$text-strong: $body-color;
$text-light: $body-color;

$table-color: $body-color;
$table-background-color: lighten($navbar-background-color, 3%);
$table-border-color: $accent-color;
$table-head-cell-color: $accent-color;
$table-cell-heading-color: $accent-color;
$table-striped-row-even-background-color: lighten($navbar-background-color, 7%);
$table-striped-row-even-hover-background-color: lighten($navbar-background-color, 12%);
$table-row-active-background-color: $accent-darker;
$table-row-active-color: $whiter-color;

// Import the rest of Bulma
@import "../bulma/bulma";

// Define styles below
@font-face {
    font-family: 'Splatfont2';
    src: url('/static/fonts/Splatfont2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

html, body {
    font-family: 'Splatfont2', sans-serif;
}

.content {
  .box {
    background-color: lighten($body-background-color, 10%);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
  }

  strong, h1, h2, h3, h4, h5, h6 {
      color: $accent-color;
  }
  
  p, li {
      color: $body-color;
  }

  .content-block > *:not(:last-child) {
      margin-bottom: $content-block-margin-bottom;
  }

  table {
      thead th {
          color: $accent-color;
          background-color: $navbar-background-color;
      }

      th {
          color: $accent-lighter;
      }
  }
}
