{{- if .Values.monitoring.alertmanager.enabled }}
{{- $monitoringNamespace := include "splattop.monitoringNamespace" . -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "splattop.fullname" . }}-alertmanager
  namespace: {{ $monitoringNamespace }}
  labels:
    {{- include "splattop.componentLabels" (dict "component" "alertmanager" "root" .) | nindent 4 }}
spec:
  replicas: {{ .Values.monitoring.alertmanager.replicas }}
  selector:
    matchLabels:
      {{- include "splattop.componentSelectorLabels" (dict "component" "alertmanager" "root" .) | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "splattop.componentSelectorLabels" (dict "component" "alertmanager" "root" .) | nindent 8 }}
    spec:
      securityContext:
        fsGroup: 65534
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: alertmanager
          image: "{{ .Values.monitoring.alertmanager.image.repository }}:{{ .Values.monitoring.alertmanager.image.tag }}"
          imagePullPolicy: {{ .Values.monitoring.alertmanager.image.pullPolicy }}
          args:
            - "--config.file=/etc/alertmanager/alertmanager.yaml"
            - "--storage.path=/alertmanager"
          ports:
            - name: http
              containerPort: 9093
              protocol: TCP
          volumeMounts:
            - name: config
              mountPath: /etc/alertmanager
            - name: data
              mountPath: /alertmanager
            - name: tmp
              mountPath: /tmp
          readinessProbe:
            httpGet:
              path: /-/ready
              port: http
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /-/healthy
              port: http
            initialDelaySeconds: 30
            periodSeconds: 30
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            runAsGroup: 65534
            runAsNonRoot: true
            runAsUser: 65534
            capabilities:
              drop:
                - ALL
          resources:
            {{- toYaml .Values.monitoring.alertmanager.resources | nindent 12 }}
      volumes:
        - name: config
          secret:
            secretName: {{ .Values.monitoring.alertmanager.configSecret }}
        - name: data
          emptyDir: {}
        - name: tmp
          emptyDir: {}
{{- end }}
