{{- if and .Values.monitoring.prometheus.enabled .Values.monitoring.cilium.prometheusEgressKubeAPI.enabled }}
apiVersion: cilium.io/v2
kind: CiliumNetworkPolicy
metadata:
  name: prometheus-egress-kube-apiserver
  namespace: {{ include "splattop.monitoringNamespace" . }}
spec:
  endpointSelector:
    matchLabels:
      app.kubernetes.io/component: prometheus
  egress:
    - toEntities:
        - kube-apiserver
      toPorts:
        - ports:
            - port: "443"
              protocol: TCP
{{- end }}
