{{- if .Values.monitoring.prometheus.enabled }}
{{- $monitoringNamespace := include "splattop.monitoringNamespace" . -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "splattop.fullname" . }}-prometheus
  namespace: {{ $monitoringNamespace }}
  labels:
    {{- include "splattop.componentLabels" (dict "component" "prometheus" "root" .) | nindent 4 }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "splattop.fullname" . }}-prometheus
  labels:
    {{- include "splattop.labels" . | nindent 4 }}
rules:
  - apiGroups: [""]
    resources:
      - nodes
      - nodes/proxy
      - services
      - endpoints
      - pods
    verbs: ["get", "list", "watch"]
  - apiGroups:
      - extensions
      - networking.k8s.io
    resources:
      - ingresses
    verbs: ["get", "list", "watch"]
  - nonResourceURLs: ["/metrics"]
    verbs: ["get"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "splattop.fullname" . }}-prometheus
  labels:
    {{- include "splattop.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "splattop.fullname" . }}-prometheus
subjects:
  - kind: ServiceAccount
    name: {{ include "splattop.fullname" . }}-prometheus
    namespace: {{ $monitoringNamespace }}
{{- end }}
